@palette-display-breakpoint: 700px;
@palette-mobile-two-colums-breakpoint: 450px;
@palette-desktop-two-colums-breakpoint: 1300px;

.palette-two-columns() {
  .dnd-it {
    width: calc(~"50% - 0.4rem");
    float: left;

    &:nth-child(2n+1) {
      margin-right: 0.8rem;
    }
  }
}

.mfb-app {
  .dnd-empty {
    display: none;
  }

  .field-input, .el-input__inner, .el-textarea__inner {
    margin-bottom: 0;
  }
}

.mfb-config-section-header {
  font-weight: bold;
}

.mfb-builder, .mfb-palette {
  @media screen and (min-width: @palette-display-breakpoint) {
    display: inline-block;
    vertical-align: top;
  }

  & > h1 {
    .ae-legend();
    text-align: center;
    border-bottom:  1px solid @separator-color;
    margin: 0 0 1rem;
    padding-bottom:  0.5rem;

    @media screen and (min-width: @palette-display-breakpoint) {
      text-align: left;
    }
  }
}

.mfb-builder {
  @media screen and (min-width: @palette-display-breakpoint) {
    width: 60%;
  }
}

.mfb-palette {
  @media screen and (min-width: @palette-display-breakpoint) {
    width: 40%;
    padding-left: 2rem;

    h1 {
      margin-bottom: 0.5rem;
      padding-bottom: 0;
      border-bottom: 0 none;
    }
  }

  .el-collapse {
    border: 1px solid @separator-color;

    .el-collapse-item__header {
      background-color: @darker-beige;
      border-bottom: 1px solid @separator-color;
    }

    .el-collapse-item__wrap {
      background-color: @white;

      .el-collapse-item__content {
        padding: 0.8rem 0.8rem 0.2rem;
        font-size: 0.9rem;
        color: @font-color;
        line-height: 1.7;
      }
    }
  }

  .dnd-it {
    padding: 0 0 0.6rem;
  }

  .mfb-palette-item {
    min-width: 12rem;
    padding: 0.4rem 0.8rem;
    border: 1px solid @separator-color;
    border-radius: 3px;

    svg {
      margin-right: 0.4rem;
    }
  }
}

.mfb-palette-mobile {
  .el-collapse {
    margin-bottom: -1px;
  }

  @media screen and (min-width: @palette-mobile-two-colums-breakpoint) {
    .palette-two-columns();
  }
}

.mfb-palette-desktop {
  .el-collapse {
    margin-bottom: 1rem;
  }

  @media screen and (min-width: @palette-desktop-two-colums-breakpoint) {
    .palette-two-columns();
  }
}

// Palette item while being dragged – not a child of .mfb-palette
.dnd-drag .mfb-palette-item {
  padding: 0.4rem 0.8rem;
}

.mfb-show-mobile-palette {
  display: block;
  margin-bottom: 2rem;
  text-align: center;

  & > .el-button {
    min-width: 200px;
  }
}

.mfb-element-root > .mfb-element-children > .dnd-cont > .dnd-it {
  padding-left: 0;
  padding-right: 0;
}

// HACK: Make it easier to hit the drop area when trying to add a new page.
.mfb-element-root > .mfb-element-children > .dnd-cont > .dnd-it:last-of-type {
  padding-bottom: 5rem;
}

.mfb-config-dialog > .el-dialog {
  width: 90%;

  @media screen and (min-width: 530px) { width: 80%; }
  @media screen and (min-width: 700px) { width: 70%; }
  @media screen and (min-width: 1000px) { width: 60%; }
  @media screen and (min-width: 1200px) { width: 50%; }
  @media screen and (min-width: 1400px) { width: 40%; }
}

.mfb-config-dialog {
  // Override base styles for select fields in the config dialog
  .el-select {
    .el-input__icon {
      right: 2px;
    }

    .el-input__inner {
      width: 100%;
      border: @input-border;
      color: @input-color;
      background: @input-bg;

      &:hover, &:focus {
        background:  @input-bg;
        color: @input-focus-color;
        border-color: @input-focus-border-color;
        box-shadow: @input-focus-box-shadow;
      }
    }
  }
}

.page-node-wizard-form {
  // Override base styles for select fields in the config dialog
  .el-select-dropdown__item {
    color: @input-color;

    &.hover, &.selected.hover {
      color: #faf7ee;
      background-color: #9e9696;
    }
    &.selected:not(.hover) {
      color: #faf7ee;
      background-color: #bbb5b5;
    }
  }
  .el-dropdown-menu, .el-select-dropdown__list, .typeahead .dropdown-menu {
    background-color: #faf7ee;
    border-color: #c7c3b5;
  }
}

.el-popover.mfb-delete-element-popover {
  padding: 1rem;
  border: 0 none;
  border-radius: 0.4rem;
  background-color: lighten(@red, 10%);
  box-shadow: 1px 1px 5px 1px rgba(142, 98, 86, 0.5);

  .popper__arrow {
    display: none;
  }

  &[x-placement^=top] .popper__arrow, .popper__arrow::after {
    display: block;
    border-top-color: lighten(@red, 10%);
  }

  p {
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }

  .mfb-delete-element-popover-buttons {
    text-align: right;

    .el-button--text {
      color: @font-color;
    }
    .el-button--text:active {
      color: darken(@font-color, 10%);
    }
    .el-button--text:focus, .el-button--text:hover {
      color: lighten(@font-color, 10%);
    }
  }
}
